{% extends "home/base.html" %}
{% block title %}Password{% endblock %}
{% block body %}
<div class='reset'>
    <div></div>
    <div class='left_login'>
        <h1>Reset Password</h1><br>
        <p>Enter Your Mail ID</p>
        <br>
        <br>
        <div class='input-login'>

            <form  method='post'>
            {% csrf_token %}
            {{form}}<br><br>
            <input style='width:50%;' type="submit">
            </form>
        </div>
    </div>
    <div></div>
</div>
{% endblock %}
