{% extends "home/base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
    <div>
    <h1>Search blogs</h1>
    {% if allpost|length < 1 %}
    <h1>no search found
    {% endif %}

    {% for search in allpost %}
    <div class=" grid-card">
        <div></div>
        <img class='cardimage' src="{{search.image.url}}" alt="PostImg" style="width: 95%;height: 95%;position: relative;top: 3%;"">
        
        <div class='card'>
            
            <div class="cardcontainer">  
            {% load humanize %}
                <h3><b>{{search.title}}</b></h3>
                <span><i>by {{search.name }} </i>
                {{search.date | naturaltime}}  </span>
                <p>____________________________________________________</p>
                
                <p>{{search.desc|truncatewords:30}}</p> 
                
            </div>  <br>
            <a href='/blog/read/{{search.post_id}}' style='text-decoration: none; color:#1D2671;'>continue reading</a>
        </div>
        <div></div>
    </div><br>
    {% endfor %}
    </div>
{% endblock  %}